Repository cloudposse-terraform-components/.github, pull requests merged in 2024-12, with the labels that each got.

#30 Added renovate config
  .github/renovate.json
  renovate.json
Labels: needs-cloudposse, automation

#42 add org profile
  .github/workflows/org-banner.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  FUNDING.yml
  README.md
  README.md.gotmpl
  README.yaml
  SECURITY.md
  SUPPORT.md
  profile/README.md
  profile/banner/README.md
  profile/banner/advanced-consulting-partner.svg
  profile/banner/background.svg
  profile/banner/github-logo.svg
  profile/banner/image.png
  profile/banner/index.html
Labels: needs-cloudposse, automation, docs

#45 Addded simple README.md template
  README.md.simple.gotmpl
Labels: docs

#47 Test mergify auto approve rule
  .github/mergify.yml
Labels: needs-cloudposse, automation

#51 Update chatops workflows
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#52 Always run fixtures
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#53 Fix chatops workflow
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#54 [terratest] Fix steps execution order
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#55 [terratest] Fix tests working dir path
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#56 [terratet] Test atmos version
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#57 [terratest] Pin Atmos version 1.129.0
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#58 [terratest] Use atmos version pin everywhere
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#59 [terratset] Run tests
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#60 [terratest] Fix fixture state upload
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#61 [terratest] Update flags
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#62 [terratest] Fix fistures setup
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#63 Fix deps setup flags
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation

#64 Added go test action
  .github/workflows/shared-terraform-chatops.yml
Labels: needs-cloudposse, automation
